@charset "UTF-8";
:root {
  --main-title-color:#212121;
  --two-title-color:#FFFFFF;
  --main-btn-color:#FFFFFF;
  --accent-color:#2196F3;
  --primary-text-color:#757575;
  --foot-cont:rgba(255, 255, 255, 0.6);
  --effect-color: #2F303A;
  --btn-comand:#F5F4FA ;
  --card-portfol:#eeeeee;
  --box-shadow--accent: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --timing-duration: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--main-title-color);
  background-color: var(--main-btn-color);
}

.list {
  margin: 0px;
}

.button {
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.section {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.task, .comand {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-title-color);
}

.container {
  width: 480px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*спрятали заголовок список работ*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.team_soc_list {
  display: flex;
  justify-content: center;
}

.team_soc_item {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.team_soc_item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team_soc_link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: fill var(--timing-duration) var(--transition-timing-function), background-color var(--timing-duration) var(--transition-timing-function);
}

.team_soc_link:not(:last-child) {
  margin-right: 10px;
}

.team_soc_link:hover,
.team_soc_link:focus {
  background-color: var(--accent-color);
  fill: var(--main-btn-color);
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    height: 262px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    height: 213px;
  }
}

.footer {
  background-color: #FFF5F6;
  padding-bottom: 3px;
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.footer_text {
  flex-direction: column;
  display: flex;
}

.footer-list {
  margin: 0;
  width: 232px;
  height: 42px;
}

.footer_text_small {
  font-size: 18px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFA5BA;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer_text_small {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_text_small {
    font-size: 30px;
    line-height: 1.13;
    padding-bottom: 16px;
  }
}

.footer_text_big {
  font-size: 34px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer_text_big {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer_text_big {
    font-size: 58px;
    line-height: 1.13;
    padding-bottom: 60px;
  }
}

.footer_contact {
  text-align: end;
  flex-direction: column;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer_contact {
    padding-bottom: 59px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_contact {
    padding-bottom: 60px;
  }
}

.footer-soc-list {
  display: flex;
  margin: 0;
  justify-content: right;
  padding-bottom: 40px;
}

.footer_soc_item {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
  background: #FEA5BB;
  transition: background-color #D41443 cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer_soc_item {
    width: 34px;
    height: 34px;
  }
}
.footer_soc_item:not(:last-child) {
  margin-right: 28.24px;
}
@media screen and (min-width: 768px) {
  .footer_soc_item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_soc_item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer_soc_item:hover,
.footer_soc_item:focus {
  background-color: #D41443;
  cursor: pointer;
}

.tel-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.86;
  text-align: right;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .tel-text {
    font-size: 14px;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .tel-text {
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

.tel-num {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.24;
  text-align: right;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .tel-num {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .tel-num {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer-title_end {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #907E82;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer-title_end {
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-title_end {
    letter-spacing: 0.02em;
  }
}

.end {
  margin: 0;
}/*# sourceMappingURL=main.css.map */