.footer{
    background-color: #FFF5F6;
    padding-bottom: 3px;
    height: 333px;
}

.footer .container{
    display: flex;
    flex-direction: column;
}

.footer_text {
    flex-direction: column;
    display: flex;
}

.footer_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #907E82;
}

.footer-list{
    margin: 0;
    width: 232px;
    height: 42px;  
}

.footer_text_small{
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFA5BA;
    padding-bottom: 16px;
}

.footer_text_big{
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    padding-bottom: 40px;
}

.footer_contact{
    text-align: end;
    flex-direction: column;
    padding-bottom: 40px;
}

.footer-soc-list{
    display: flex;
    margin: 0;
    justify-content: right;
    padding-bottom: 40px;
}

.footer_soc_item{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF;
    background: #FEA5BB;;
    transition: background-color  #D41443  cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_soc_item:not(:last-child) {
    margin-right: 20px;
}

.footer_soc_item:hover,
.footer_soc_item:focus {
    background-color:#D41443;
    cursor: pointer; 
}


.tel-text{
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    text-align: right;
    color: #000000;
    //padding-bottom: 40px;
}
.tel-num{
    font-weight: 700;
    font-size: 13px;
    line-height: 186%;
    text-align: right;
    color: #D41443;
    //padding-bottom: 40px;
}
.footer-title_end{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52%;
    text-align: center;
    color: #907E82;
    padding-top: 16px;
    

}
.end{
    margin: 0;
}

